body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.title {
    font-size: 20pt;
}

.subtitle {
    font-size: 25pt;
}

.temp {
    font-size: 80pt;
    margin-left: 30pt;
    margin-right: 30pt;
}

.last {
    font-size: 17pt;
}

.owm {
    font-size: 19pt;
}

.center {
    margin-left: auto;
    margin-right: auto;
}