<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Current temperatures</title>
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <link id="dark-theme-style" rel="stylesheet" />
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4 class="display-6 text-center">Current Temperatures</h3>
      </div>
      <div class="col-md-12">
        <h4 class="text-center">&nbsp;</h4>
      </div>
      <div class="col-md-2">
        <h4 class="display-5">Inside</h1>
      </div>
      <div class="col-md-4">
        <h3 class="display-3 font-weight-bold text-right"><span id="temp_inside">&nbsp;</span>°C</h1>
      </div>
      <div class="col-md-2">
        <h4 class="display-5">Outside</h1>
      </div>
      <div class="col-md-4">
        <h3 class="display-3 font-weight-bold text-right"><span id="temp_outside">&nbsp;</span>°C</h1>
      </div>
    </div>
    <div class="row justify-content-lg-center" style="visibility: hidden" id="alert_box">
      <div class="alert alert-warning text-dark" role="alert">
        Service is down.
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h5 class="text-center">OWM Data: <span id="owm_info"></span></h4>
      </div>
      <div class="col-sm-12">
        <h5 class="text-center">Latest measurement: <span id="latest"></span></h4>
      </div>
      <div class="col-md-12">
        <h4 class="text-center">&nbsp;</h4>
      </div>
      <div class="col-md-12">
        <canvas id="myChart"></canvas>
        <script>

        </script>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.1/chart.min.js"
    integrity="sha512-tOcHADT+YGCQqH7YO99uJdko6L8Qk5oudLN6sCeI4BQnpENq6riR6x9Im+SGzhXpgooKBRkPsget4EOoH5jNCw=="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
    integrity="sha256-d+FygkWgwt59CFkWPuCB4RE6p1/WiUYCy16w1+c5vKk=" crossorigin="anonymous"></script>

  <script src="static/js/process.js"></script>
</body>

</html>